
#custom-403-per-path-admin textarea {
  width: 100%;
  height: 1.7em;
}

#custom-403-per-path-admin .custom-403-per-path-path {
  width: 50%;
}

#custom-403-per-path-admin .custom-403-per-path-message {
  width: 50%;
}

#custom-403-per-path-admin .custom-403-per-path-enabled {
  text-align: center;
}

#custom-403-per-path-wrapper td {
	vertical-align: top;
}
